#popup {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#popupBody {
    width: 50%;
    height: 50%;
    margin: 15% 25%;
    display: block;
    background-color: #e0e0e0;
    position: relative;
}